---
import BaseLayout from "../layouts/BaseLayout.astro";
import type {MarkdownInstance} from "astro";
interface Frontmatter {
    title: string;
    date: string;
}
const allBlogs = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./blog/*.md", {eager: true}));

---

<BaseLayout>
<ul>
    {
        allBlogs.map((blog) => {
            return (
                <li>
                    <a class="flex justify-between px-2 text-xl hover:text-3xl transition-all ease-in-out " href={blog.url}>
                        <span class="flex-1 truncate after:content-['...........................................................................................................................................................................']

                        ">
                            {blog.frontmatter.title}
                        </span>
                        <i class="text-gray-500/60">{blog.frontmatter.date}</i></a>
                </li>

            );
        })
    }
</ul>
</BaseLayout>