---

---

<div>
    <div class="mb-3 flex justify-center items-center text-2xl">
        <h2>mtobdvlb</h2>
    </div >
    <div class="flex gap-4 justify-center">
        <span class="group border-t-2 transition-transform duration-300 ease-in-out hover:scale-150">
            <a href="/" class="invisible group-hover:visible transition duration-300">首页</a>
        </span>
        <span class="group border-t-2 transition-transform duration-300 ease-in-out hover:scale-150">
            <a href="/" class="invisible group-hover:visible transition duration-300">博客</a>
        </span>

    </div>
</div>

